<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teman Ujian</title>
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <div id="hero">
        <div id="content">
            <h1>Teman Ujian</h1>
            <p>Portal Persiapan Seleksi TKD BUMN</p>
            <a href="portal/"><button class="bold-button" type="submit">Mulai</button></a>
            <a href="https://temanujian.com/"><button class="light-button" type="submit">Website</button></a>
        </div>
        
        <img src="assets/img/heroImage.png" alt="Graduation Day, Woman Throw Gown">
        
    </div>
</body>
</html>